.eventos {

    .textos-eventos {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

        h6 {
            font-size: 3rem;
            font-weight: bold;
            color: white;
        }

        .parrafo-evento {
            font-size: 1rem;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }
    }

    img {
        width: 90%;
        margin-left: 50px;
    }
}

.parrafo-evento {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}